Source: subcontractor
Section: multiverse/t3kton
Priority: optional
Maintainer: Peter Howe <pnhowe@gmail.com>
Build-Depends: debhelper (>= 9), python3 (>= 3.6), python3-dev (>=3.6), python3-setuptools (>= 20.0), lsb-release
Standards-Version: 3.8.3
X-Python3-Version: >= 3.6

Package: subcontractor
Architecture: all
Depends: python3 (>= 3.6), python3-dhcplib (>= 0.7), python3-cinp (>= 0.24), ${misc:Depends}, ${python3:Depends}
Description: Subcontractor
  Subcontractor
