[Unit]
Description=Subcontractor service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/subcontractor -p /var/run/subcontractor.pid -c /etc/subcontractor.conf -i foreground
DefaultTimeoutStopSec=600

[Install]
WantedBy=multi-user.target
